body,html{
   background-color: $info;
   height: 100%;
   margin: 0;
   overflow: hidden;
}
.web_design{
  /* position: absolute; */
  height: 50rem;
  width: 60rem;
  margin-left: 10rem;
  /* margin-top: rem; */
}
.manoj_pic{
  position: relative;
  border-radius: 100%;
  margin-left: 30%;
  height: 30rem;
  width: 30rem;

}
.lens_effect{
  /* Full height */
  height: 62.5rem;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  /* Full height */
  height: 62.5rem;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: black;
  margin: 0;
  padding: 0;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-fluid{
  position: absolute;
}
.col-sm-6{
  text-align: center;
}
